.box {
    padding: 25px;
    margin: 25px;
    border: 25px solid green;
    background-color: yellow;
    width: 300px;
    font-size: 18px;
}

.foot {
    font-size: 20px;
    padding: 10px 0 0 10em;
    background-color: rgb(184, 184, 184);

}